* {
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  background-color:lightgray;
}

.filterrow{
  padding-bottom: 30px;
}

/* Adding styles to the aside and filter form */
.ufo-form {
  margin-top: 50px;
}

.filters .panel-body {
  padding: 0;
}

.filters {
  margin-top: 10px;
}
.table{
  background-color:rgb(202, 199, 199)
}

#table-area th {
  text-align: center;
  background-color:#557A95;
  color:white;
  padding-bottom: 10px;
}

.btn
{
  background-color:#557A95;
  color:white;
}

/* media queries which will only be activated at specific screen sizes */
@media (max-width: 800px) {
  #table-area td {
    font-size: 1em;
  }
}

@media (max-width: 500px) {
  #table-area thead {
    display: none;
  }

}

/* keyframe animations which will be used to animate the title */
@keyframes title {
  from {
    opacity: 0;
  }

  to {
    font-size: 7.5rem;
    opacity: 1;
  }
}

@keyframes smaller-title {
  from {
    opacity: 0;
  }

  to {
    font-size: 5.5rem;
    opacity: 1;
  }
}

@keyframes subtitle {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
